#root {
  display: flex;
  height: 100%;
}

aside {
  width: 30%;
  min-width: 300px;
  background-color: #dcdcdc45;

  border-right: 1px solid #eee;
}

main {
  flex: 1;
  border-left: 1px solid #eee;
  box-shadow: -2px 0 6px rgb(204, 204, 204);
  position: relative;
  user-select: none;
}
