aside {
  width: 20%;
  min-width: 300px;
  background-color: #dcdcdc45;

  border-right: 1px solid #eee;
}

main {
  flex: 1;
  border-left: 1px solid #eee;
  box-shadow: -2px 0 6px rgb(204, 204, 204);
  position: relative;
  user-select: none;
}

.drafting-lines {
  background-position-x: -2px;
  background-position-y: -2px;
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, rgb(228, 228, 228) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(228, 228, 228) 1px, transparent 1px);
}

.drafting-lines--dotted {
  background-position-x: -2px;
  background-position-y: -2px;
  background-size: 100px 100px;
  background-image: radial-gradient(circle, #575757 1px, rgba(0, 0, 0, 0) 1px);
}
